<div th:fragment="header">
    <table>
        <tr>
        	<td><img class="logo" src="logo.png" alt="logo" /></td>
            <td class="right">
                <p><b>CÔNG TY CỔ PHẦN QUẢNG CÁO CỔNG VIỆT NAM</b><br />
                <b>HCM: </b>Tầng 8 - 402 Nguyễn Thị Minh Khai, P.5, Q.3, TP.HCM<br />
                <b>HN: </b>Tầng 9, Tòa nhà Hàn Việt, 203 Minh Khai, quận Hai Bà Trưng, Hà Nội<br />
                <b>Website: </b>www.webdoctor.vn | www.adsplus.vn</p>
            </td>
        </tr>
    </table>
</div>