<div th:fragment="report">
	<table class="feeTable">
	<tbody>
	<tr class="title">
	<td class="left">STT</td>
	<td>Loại báo cáo</td>
	<td>Hình thức</td>
	<td>Tần suất gửi</td>
	<td>Ghi chú</td>
	</tr>
	<tr>
	<td class="black">1</td>
	<td class="left details">Báo cáo trực tiếp từ Google</td>
	<td class="details">Email</td>
	<td class="details">Hàng ngày</td>
	<td class="left details">Nhận báo cáo trực tiếp hàng ngày từ Google</td>
	</tr>
	<tr>
	<td class="black">2</td>
	<td class="left details">Tin nhắn Sms</td>
	<td class="details">Sms</td>
	<td class="details">Hàng ngày</td>
	<td class="left details">Hiển thị click hợp lệ, click không hợp lệ</td>
	</tr>
	<tr>
	<td class="black">3</td>
	<td class="left details">Báo cáo tuần</td>
	<td class="details">Email</td>
	<td class="details">Hàng tuần</td>
	<td class="left details">Qúy khách sẽ được nhận báo cáo sau mỗi 7 ngàykể từ ngày bắt đầu chiến dịch</td>
	</tr>
	<tr>
	<td class="black">4</td>
	<td class="left details">Báo cáo trực tuyến Guru.Adsplus.vn</td>
	<td class="details">Trình duyệt</td>
	<td class="details">Khi đăng nhập</td>
	<td class="left details">Khi triển khai chiến dịch, quý khách sẽ được nhận một tài khoản để đăng nhập hệ thống báo cáo Guru</td>
	</tr>
	<tr>
	<td class="black">5</td>
	<td class="left details">Báo cáo Google Data Studio</td>
	<td class="details">Trực tuyến</td>
	<td class="details">Khi truy cập</td>
	<td class="left details">Qúy khách sẽ được phân quyền xem báo cáo Google Data Studio</td>
	</tr>
	<tr>
	<td class="black">6</td>
	<td class="left details">Báo cáo tổng kết chiến dịch</td>
	<td class="details">Email</td>
	<td class="details">Ngay khi kết thúc chiến dịch</td>
	<td class="left details"></td>
	</tr>
	</tbody>
	</table>
</div>